<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap")
  body
    nav
      .logo
        a(href="#")
          img(src="./images/Logo.svg", alt="logo")
      .icons
        .icon
          a(href="")
            img(src="./images/Loop.svg", alt="")
        .icon.active
          a(href="")
            img(src="./images/Profile.svg", alt="")
        .icon
          a(href="")
            img(src="./images/Mail.svg", alt="")
        .icon
          a(href="")
            img(src="./images/Schedule.svg", alt="")
    header
      .breadcrumbs
        a(href="#") Home
        img(src="./images/Chevron-right.svg", alt="")
        a(href="#") My profile
      .profile-settings
        a(href="#") Faruh Bernandez
        img(src="./images/Chevron-down.svg", alt="")
    main
      block content