extends base.pug

block icons
  .icon
    a(href="/search")
      include ../assets/img/Loop.svg
  .icon.active
    a(href="")
      include ../assets/img/Profile.svg
  .icon
    a(href="")
      include ../assets/img/Mail.svg
  .icon
    a(href="")
      include ../assets/img/Schedule.svg

block breadcrumbs
  a(href="#") Home
  img(src="/images/Chevron-right.svg", alt="")
  a(href="#") My profile

block headerInfo
  a(href="#") Faruh Bernandez
  img(src="/images/Chevron-down.svg", alt="")

block content
  section.selectmenu
    article.personal-inf
      a(href="/personInfo/" + id) PERSONAL INFORMATION
    article.personal-inf.active
      a(href="/accInfo/" + id) ACCOUNT INFORMATION
  section.account-info2
    article.infov3
      .part
        p.title username
        form(action="")
          input(type="text" placeholder=username class="firstLast")
    article.infov4
      .part
        p.title email
        form(action="")
          input(type="text" placeholder=email class="firstLast")
      .change-password
        .passwd-wrap
          a(href="") change password
          img(src="/images/Chevron-right.svg", alt="")
