extends base2

include mixins/question.pug
include mixins/title_main2.pug
include mixins/input_main2.pug
include mixins/button_main2.pug

block header2
  +question('Do you have an account?', 'Sign up')

block main2
  +title2('Reset your password')
  +input_main2('New password')
  +input_main2('Confirm password')
  p.forgot 
  +button_main2('Reset')