extends base.pug

include mixins/googleMap.pug

block icons
  .icon.active
    a(href="")
      include ../assets/img/Loop.svg
  .icon
    a(href="")
      include ../assets/img/Profile.svg
  .icon
    a(href="")
      include ../assets/img/Mail.svg
  .icon
    a(href="")
      include ../assets/img/Schedule.svg

block breadcrumbs
  a(href="#") Home
  img(src="/images/Chevron-right.svg", alt="")
  a(href="#") Search
  img(src="/images/Chevron-right.svg", alt="")
  a(href="#") Results

block headerInfo
  a(href="#") Sarah Freeman
  img(src="/images/Chevron-down.svg", alt="")

block content
  section.search_menu
    .part
      p.title Location
      .title-choose
        img(src="/images/Location.svg", alt="" class="location")
        img(src="/images/Chevron-down.svg", alt="" class="chevron-down")
    .part
      p.title Search
      input(type="text" placeholder="Type your query..." class="firstLast")
    .part
      p.title Category
      .title-choose
        p Category
        img(src="/images/Chevron-down.svg", alt="" class="chevron-down")
    .part
      p.title Service
      .title-choose
        p 3 services
        img(src="/images/Chevron-down.svg", alt="" class="chevron-down")
    .part
      p.title Period
      input(type="text" name="daterange" class="firstLast")
      script(src="/javascript/date.js")
    .button-wrap
      button.button SEARCH
  section.search_results
    .search_topbar
      a(href="/search").show_map show results     
    .search_main 
      +google-map-place("New York USA", "AIzaSyAYBpeIr5j02T63_xtKTs3l5vC8eLsNqqI")
    