extends base2

include mixins/question.pug
include mixins/title_main2.pug
include mixins/input_main2.pug
include mixins/input_split.pug
include mixins/button_main2.pug

block header2
  +question('Already have an account?', 'Log in', '/signIn')

block main2
  +title2('Sign up')
  +input_split('First name', 'Last name')
  +input_main2('Email')
  +input_main2('Password')
  +button_main2('Get started')